html[data-theme='dark'] {
  --background-color: #4b555e;
  --header-footer-color: rgb(49, 49, 60);
  --color-text: white;
  --background-color-button: rgb(101, 96, 96);
  --box-shadow: 0px 0px 26px -7px rgb(229, 221, 221);
}

html[data-theme='light'] {
  --background-color: white;
  --header-footer-color: rgb(241, 236, 236);
  --color-text: black;
  --background-color-button: #c3c3c3;
  --box-shadow: 0px 0px 26px -7px rgba(34, 60, 80, 1)
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-color);
}

p {
  margin: 0;
  padding: 8px;
}
.App {
  display: flex;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;
  flex-direction: column;
}

.header {
  max-width: 100%;
  height: 100%;
  background-color: var(--header-footer-color);
  color: var(--color-text);
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.Search {
  display: flex;
   align-items: flex-end;
   
  
   
}
.header-bottom{
  display: flex;
  justify-content: space-between;
}
.Card {
  font-size: 13px;
  display: flex;
  flex-direction: column;
  width: 200px;
   background-color: rgb(241, 236, 236);
  /* -webkit-box-shadow: 0px 0px 26px -7px rgba(34, 60, 80, 1);
  -moz-box-shadow: 0px 0px 26px -7px rgba(34, 60, 80, 1); */
  box-shadow: var(--box-shadow);
  margin: 20px;
}

.description {
  max-width: 100%;
  margin-bottom: 200px;
  background-color: white;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1320px;
  margin: 0 auto;
}

.pagination {
  display: flex;
  max-width: 100%;
  justify-content: center;
}

.paginationNumber {
  width: 40px;
  background-color: var(--background-color-button);
  border: 1px solid grey;
  margin: 3px;
}

.paginationNumber:hover {
  background-color: rgb(194, 189, 189);
 }

.countryImg {
  width: 200px;
  height: 100px;
}

.pt15 {
  padding-top: 15px;
}

.link-button {
  text-decoration: none;
  padding: 4px;
  margin-left: 5px;
  background-color: var(--background-color-button);
  color: var(--color)
}
input{
  padding: 4px;
}

.link-button:hover {
  background-color: rgb(194, 189, 189);
}

.togle{
  margin-left: 0;
  border: none;
  padding: 10px;
  font-weight: bold;
  font-size: 16px;
}

.addCountry {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;

}

a {
  text-decoration: none;
  color: black;
}

.buttons {
  display: flex;
  height: 100%;
  align-items: end;
  justify-content: center;
}

.CardAnimation {
  animation: red-sq;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-timing-function: linear;
  position: relative;
}

@keyframes red-sq {
  0% {

    bottom: 0;
  }

  50% {
    bottom: 200px;

    opacity: 0;

  }

  51% {
    bottom: 0;
  }

  100% {
    opacity: 1;
  }
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: var(--header-footer-color);
  flex: 0 0 auto;
  color: var(--color-text);
}